.card-home{
    background: radial-gradient(white, $card-gradient);
    border-radius: 10px;
}
.card-image{
    display: flex;
    justify-content: center;
}
.card-header{
    background: white;

    & + .show{
        border-top: 1px solid $primary !important;
    }
}
.card-social{
    color: $secondary;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    & i{
        color: $secondary;
        padding-left: 30px;
    }
}
@media (min-width: 992px){
    .accordion{
        display: none;
    }
}