.carousel-indicators li{
    padding: 10px 0;
    opacity: 1;
    
    &.active{
        background: $primary;
        padding: 0;
        position: relative;
        top: 10px;
    }
}
.carousel{
   position: relative;
}
.carousel-inner > .carousel-item img{
   width: 100%;
   min-height: 450px;
   object-fit: cover;
   overflow: hidden;
    
}