.list-group{
    margin-top: 6rem;
}

.contact-content{
    margin-bottom: 6rem;
}
.contact-header{
    margin-top: 6rem;
}
.list-group-item:last-child span{
    display: none;

    @media (min-width: 768px){
        display: block;
        position: relative;
        top: -25px;
        left: 25px;
    }
}
.contact-details i{
    font-size: 1.5rem;
    padding: .5rem 0;
    padding-top: 0;
}
@media (min-width:768px){
    .list-group{
        margin-top: 12rem;
        margin-left: 1rem;
    }
    .list-group-inner{
        margin-left: 0;
    }
}
