$primary: #E92569;
$secondary: #0A0A0A;
$copy: #767676;
$navbar-active-bg: white;
 
$background-color: #EFEFEF;
$primary-color-hover: #da296d;
$background-dark: rgba(0, 0, 0, 0.5);

$font-primary: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
$font-secondary: 'Lato', Verdana, sans-serif;
