.navbar-light{
    border: none !important;
    /* position: absolute;
    top: 5px;
    right: 0; */
}
.navbar-brand{
    color: $primary !important;
    font-family: $font-primary;
    font-style: italic;
    font-weight: 600;
    position: relative;
    top: 10px;

    @media (min-width: 992px){
        position: relative;
        top: 0;
    }
}
.navbar .active a{
    background: white;
    width: 100vw !important;
    margin-left: -20px;
    position: relative;
    top: 8px;
    padding-left: 20px !important;

    @media (min-width: 992px){
        width: auto !important;
        padding: 0 1rem !important;
        padding: 0 10px;
        margin-left: 10px;   
    }
}
.navbar{
    padding-left: 20px !important;
    min-height: 75px;
    padding-bottom: 40px;
    position: absolute;
    z-index: 100;
    background: $background-color;
    width: 100%;

}
.navbar li{
    padding-right: 20px;
}
.navbar li a{
    color: $secondary !important;
}
.navbar-toggler{
    position: absolute;
    right: 30px !important;
    top: 15px;
    border: none;
}
.navbar-collapse{
    padding-top: 25px;
    
    @media (min-width: 768px) and (max-width: 991px){
        padding-top: 0;
    }

    & ul, form{
        @media (min-width: 992px){
            position: relative;
            top: -10px;
        }
    }
    & .ml-auto{
        @media (min-width: 992px){
            margin-left: 20px !important;
        }
       
    }
    & form{
        @media (min-width: 992px){
            position: absolute;
            right: 0;
            top: 40px;
        }
        
    }

}
