body{
    font-family: $font-secondary;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-primary;
}
h1{
    font-size: 1.8em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: $primary;
}
.navbar-brand{
    color: $primary;
    font-weight: 600;
    font-style: italic;
    padding: 0;
}
